/*set do style padrão*/
body{
    margin: 0 auto;
    padding: 0 15px;
    max-width:1000px;
    box-sizing: border-box;
    background-color: black;
}

/*classes somente para cor*/
.blue{
    background-color: lightblue;
}

.green{
    background-color: lightgreen;
}

.orange{
    background-color: orangered;
}

.yellow{
    background-color: yellow;
}

/*estilização básica*/
section{
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
    background-color: gainsboro;
}

section h1{
    font-size: 50px;
}

section h2{
    font-size: 30px;
    margin: 10px 0;
    color: brown;
}

/***inicio contúdo***/
.flex-container{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    max-width: 800px;
    margin: 0 auto 250px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.item{
    flex: 1;
    font-size: 24px;
    text-align: justify;
    margin: 5px;
    padding: 20px;
    border: 2px dotted grey;
    border-radius: 10px;
}

/*utilizando o align-content*/
.stretch{
    align-content: stretch;
}

.center{
    align-content: center;
}

.flex-start{
    align-content: flex-start;
}

.flex-end{
    align-content: flex-end;
}

.space-between{
    align-content: space-between;
}

.space-around{
    align-content: space-around;
}