/*set do style padrão*/
body{
    margin: 0 auto;
    padding: 0 15px;
    max-width:1000px;
    box-sizing: border-box;
    background-color: black;
}

/*classes somente para cor*/
.blue{
    background-color: lightblue;
}

.green{
    background-color: lightgreen;
}

.orange{
    background-color: orangered;
}

.yellow{
    background-color: yellow;
}

/*estilização básica*/
section{
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
    background-color: gainsboro;
}

section h1{
    font-size: 50px;
}

section h2{
    font-size: 30px;
    margin: 10px 0;
    color: brown;
}

.item > div{
    height: 100%;
    width: 100%;
    border-radius: 10PX;
    background-color: red;
}


/***inicio contúdo***/
.flex-container{
    display: flex;
    max-width: 800px;
    margin: 0 auto 250px auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.item{
    font-size: 24px;
    text-align: center;
    margin: 3px;
    border: 2px dotted grey;
    border-radius: 5px;
}

/*utilizando o flex-shrink*/
.shrink0{
    flex-shrink: 0;
}

.shrink1{
    flex-shrink: 1;
}

.sk2{
    flex-shrink: 2;
}

.sk3{
    flex-shrink: 3;
}

.grow1{
    flex-grow: 1;
}

.basis100{
    flex-basis: 100px;
}