/*set do style padrão*/
body{
    margin: 0 auto;
    padding: 0 15px;
    max-width:1000px;
    box-sizing: border-box;
    background-color: black;
}

/*classes somente para cor*/
.blue{
    background-color: lightblue;
}

.green{
    background-color: lightgreen;
}

.orange{
    background-color: orangered;
}

.yellow{
    background-color: yellow;
}

/*estilização básica*/
section{
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
    background-color: gainsboro;
}

section h1{
    font-size: 50px;
}

section h2{
    font-size: 30px;
    margin: 10px 0;
    color: brown;
}

/***inicio contúdo***/
.flex-container{
    display: flex;
    max-width: 800px;
    margin: 0 auto 250px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.item{
    font-size: 24px;
    text-align: center;
    margin: 1px;
    padding: 20px;
    border: 2px dotted grey;
    border-radius: 10px;
}

/*utilizando o flex-grow*/
.flex-grow-0{
    flex-grow: 0;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-grow-2{
    flex-grow: 2;
}

.flex-grow-3{
    flex-grow: 3;
}